## Install Pandas
pip install pandas

In [7]:
import pandas as pd
df = pd.read_csv('Diabetes_prediction.csv')
print(df)

     Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
0              2  115.863387      56.410731      24.336736   94.385783
1              2   92.490122      70.615520      23.443591  138.652426
2              1   88.141469      63.262618      23.404364  149.358082
3              2  108.453101      67.793632      20.751580  108.751638
4              1  127.849443      94.725685      22.603078   25.269987
..           ...         ...            ...            ...         ...
995            1  103.496355      41.059401      24.930299   43.675978
996            1   60.714150      64.082842      24.689064  111.562745
997            0   97.597727      64.122312      22.140339  108.138552
998            0   66.775137      55.908797      24.885274  219.521484
999            0   87.647268      69.111593      25.621266  134.335745

           BMI  DiabetesPedigreeFunction        Age  Diagnosis
0    26.455940                  0.272682  20.100494          0
1    23.910167                  0.665160  44.912281          0
2    21.948250                  0.676022  48.247873          1
3    24.209304                  0.289636  42.749868          0
4    32.997477                  0.601315  32.797789          0
..         ...                       ...        ...        ...
995  25.846062                  0.455884  19.905419          0
996  19.464280                  0.250560  44.421874          1
997  22.733052                  0.761463  58.949800          1
998  31.819187                  0.382877  46.928923          0
999  31.098746                  0.605828  41.785889          1

[1000 rows x 9 columns]

## Reading data from .csv file and displaying it in form of table.

In [77]:
import pandas as pd
bitcoin_data = pd.read_csv('ETH-BTC-USD.csv', parse_dates=True, index_col=0, nrows=10)
print(bitcoin_data.dtypes)
print(bitcoin_data)
print(bitcoin_data.info())

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
Currency      object
dtype: object
                  Open        High         Low       Close   Adj Close  \
Date
2018-11-14  206.533997  207.044998  174.084000  181.397003  181.397003
2018-11-15  181.899002  184.251007  170.188995  180.806000  180.806000
2018-11-16  180.865005  181.350006  173.126007  175.177002  175.177002
2018-11-17  175.360001  175.850998  172.869003  174.001007  174.001007
2018-11-18  174.175003  179.151993  174.175003  177.067001  177.067001
2018-11-19  177.179001  177.179001  147.850998  149.175003  149.175003
2018-11-20  148.811005  151.253006  126.360001  130.339005  130.339005
2018-11-21  131.141998  138.889999  125.758003  136.701004  136.701004
2018-11-22  136.811005  137.740005  126.706001  126.706001  126.706001
2018-11-23  126.418999  127.028000  119.558998  123.295998  123.295998

                Volume  Currency
Date
2018-11-14  2595330000  Etherium
2018-11-15  2638410000  Etherium
2018-11-16  2015330000  Etherium
2018-11-17  1832800000  Etherium
2018-11-18  1810920000  Etherium
2018-11-19  2745160000  Etherium
2018-11-20  3134410000  Etherium
2018-11-21  2685930000  Etherium
2018-11-22  1792150000  Etherium
2018-11-23  1998010000  Etherium
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2018-11-14 to 2018-11-23
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       10 non-null     float64
 1   High       10 non-null     float64
 2   Low        10 non-null     float64
 3   Close      10 non-null     float64
 4   Adj Close  10 non-null     float64
 5   Volume     10 non-null     int64
 6   Currency   10 non-null     object
dtypes: float64(5), int64(1), object(1)
memory usage: 640.0+ bytes
None

# Converting the datatype of the variables in dataframe

In [9]:
bitcoin_data['Volume']=bitcoin_data['Volume'].astype('float')
print(bitcoin_data.dtypes)
print(bitcoin_data)

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
Currency      object
dtype: object
                  Open        High         Low       Close   Adj Close  \
Date
2018-11-14  206.533997  207.044998  174.084000  181.397003  181.397003
2018-11-15  181.899002  184.251007  170.188995  180.806000  180.806000
2018-11-16  180.865005  181.350006  173.126007  175.177002  175.177002
2018-11-17  175.360001  175.850998  172.869003  174.001007  174.001007
2018-11-18  174.175003  179.151993  174.175003  177.067001  177.067001
2018-11-19  177.179001  177.179001  147.850998  149.175003  149.175003
2018-11-20  148.811005  151.253006  126.360001  130.339005  130.339005
2018-11-21  131.141998  138.889999  125.758003  136.701004  136.701004
2018-11-22  136.811005  137.740005  126.706001  126.706001  126.706001
2018-11-23  126.418999  127.028000  119.558998  123.295998  123.295998

                  Volume  Currency
Date
2018-11-14  2.595330e+09  Etherium
2018-11-15  2.638410e+09  Etherium
2018-11-16  2.015330e+09  Etherium
2018-11-17  1.832800e+09  Etherium
2018-11-18  1.810920e+09  Etherium
2018-11-19  2.745160e+09  Etherium
2018-11-20  3.134410e+09  Etherium
2018-11-21  2.685930e+09  Etherium
2018-11-22  1.792150e+09  Etherium
2018-11-23  1.998010e+09  Etherium

# Category VS Object datatype

In [18]:
print(bitcoin_data['Currency'].nbytes)
bitcoin_data['Currency'] = bitcoin_data['Currency'].astype('category')
print("Converted to category:")
print(bitcoin_data['Currency'].nbytes)
print(bitcoin_data.info()) #gives the detail information of the dataframe
print('converted back to object')
bitcoin_data['Currency'] = bitcoin_data['Currency'].astype('object')
print(bitcoin_data.info())

80
Converted to category:
18
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2018-11-14 to 2018-11-23
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       10 non-null     float64
 1   High       10 non-null     float64
 2   Low        10 non-null     float64
 3   Close      10 non-null     float64
 4   Adj Close  10 non-null     float64
 5   Volume     10 non-null     float64
 6   Currency   10 non-null     category
dtypes: category(1), float64(6)
memory usage: 686.0 bytes
None
converted back to object
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2018-11-14 to 2018-11-23
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       10 non-null     float64
 1   High       10 non-null     float64
 2   Low        10 non-null     float64
 3   Close      10 non-null     float64
 4   Adj Close  10 non-null     float64
 5   Volume     10 non-null     float64
 6   Currency   10 non-null     object
dtypes: float64(6), object(1)
memory usage: 640.0+ bytes
None

# Cleaning of the Columns

In [50]:
import numpy as np

# print(np.unique(bitcoin_data['Currency']))
print(np.array(bitcoin_data['Currency']))

# cleaning the data by using the replace function
bitcoin_data['Currency'] = bitcoin_data['Currency'].replace('None', 'ETH',inplace=True)

print(np.array(bitcoin_data['Currency']))

[None None None None None None None None None None]
[None None None None None None None None None None]

C:\Users\HP\AppData\Local\Temp\ipykernel_17976\867986560.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bitcoin_data['Currency'] = bitcoin_data['Currency'].replace('None', 'ETH',inplace=True)

# Checking the missing values.

In [52]:
# Checking for missing values
print(bitcoin_data.isnull().sum())

Open          0
High          0
Low           0
Close         0
Adj Close     0
Volume        0
Currency     10
dtype: int64

# Creating a new column & Deleting the column in the given dataframe

In [75]:
# bitcoin_data.insert(3, 'type', 'Down')
# print(bitcoin_data)
# Deleting the column
bitcoin_data.drop('type',axis=1,inplace=True) # axis=1 for column and axis=0 for row and inplace=True for permanent deletion
print(bitcoin_data)

                  Open        High         Low       Close   Adj Close  \
Date
2018-11-14  206.533997  207.044998  174.084000  181.397003  181.397003
2018-11-15  181.899002  184.251007  170.188995  180.806000  180.806000
2018-11-16  180.865005  181.350006  173.126007  175.177002  175.177002
2018-11-17  175.360001  175.850998  172.869003  174.001007  174.001007
2018-11-18  174.175003  179.151993  174.175003  177.067001  177.067001
2018-11-19  177.179001  177.179001  147.850998  149.175003  149.175003
2018-11-20  148.811005  151.253006  126.360001  130.339005  130.339005
2018-11-21  131.141998  138.889999  125.758003  136.701004  136.701004
2018-11-22  136.811005  137.740005  126.706001  126.706001  126.706001
2018-11-23  126.418999  127.028000  119.558998  123.295998  123.295998

                  Volume
Date
2018-11-14  2.595330e+09
2018-11-15  2.638410e+09
2018-11-16  2.015330e+09
2018-11-17  1.832800e+09
2018-11-18  1.810920e+09
2018-11-19  2.745160e+09
2018-11-20  3.134410e+09
2018-11-21  2.685930e+09
2018-11-22  1.792150e+09
2018-11-23  1.998010e+09

# Creating the copy of the data

In [78]:
btc = bitcoin_data.copy()
print(btc)

                  Open        High         Low       Close   Adj Close  \
Date
2018-11-14  206.533997  207.044998  174.084000  181.397003  181.397003
2018-11-15  181.899002  184.251007  170.188995  180.806000  180.806000
2018-11-16  180.865005  181.350006  173.126007  175.177002  175.177002
2018-11-17  175.360001  175.850998  172.869003  174.001007  174.001007
2018-11-18  174.175003  179.151993  174.175003  177.067001  177.067001
2018-11-19  177.179001  177.179001  147.850998  149.175003  149.175003
2018-11-20  148.811005  151.253006  126.360001  130.339005  130.339005
2018-11-21  131.141998  138.889999  125.758003  136.701004  136.701004
2018-11-22  136.811005  137.740005  126.706001  126.706001  126.706001
2018-11-23  126.418999  127.028000  119.558998  123.295998  123.295998

                Volume  Currency
Date
2018-11-14  2595330000  Etherium
2018-11-15  2638410000  Etherium
2018-11-16  2015330000  Etherium
2018-11-17  1832800000  Etherium
2018-11-18  1810920000  Etherium
2018-11-19  2745160000  Etherium
2018-11-20  3134410000  Etherium
2018-11-21  2685930000  Etherium
2018-11-22  1792150000  Etherium
2018-11-23  1998010000  Etherium

Working with Diabetes dataset

In [2]:
import pandas as pd
df=pd.read_csv('Diabetes_prediction.csv')
print(df)   
print(df.info())

     Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
0              2  115.863387      56.410731      24.336736   94.385783
1              2   92.490122      70.615520      23.443591  138.652426
2              1   88.141469      63.262618      23.404364  149.358082
3              2  108.453101      67.793632      20.751580  108.751638
4              1  127.849443      94.725685      22.603078   25.269987
..           ...         ...            ...            ...         ...
995            1  103.496355      41.059401      24.930299   43.675978
996            1   60.714150      64.082842      24.689064  111.562745
997            0   97.597727      64.122312      22.140339  108.138552
998            0   66.775137      55.908797      24.885274  219.521484
999            0   87.647268      69.111593      25.621266  134.335745

           BMI  DiabetesPedigreeFunction        Age  Diagnosis
0    26.455940                  0.272682  20.100494          0
1    23.910167                  0.665160  44.912281          0
2    21.948250                  0.676022  48.247873          1
3    24.209304                  0.289636  42.749868          0
4    32.997477                  0.601315  32.797789          0
..         ...                       ...        ...        ...
995  25.846062                  0.455884  19.905419          0
996  19.464280                  0.250560  44.421874          1
997  22.733052                  0.761463  58.949800          1
998  31.819187                  0.382877  46.928923          0
999  31.098746                  0.605828  41.785889          1

[1000 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               1000 non-null   int64
 1   Glucose                   1000 non-null   float64
 2   BloodPressure             1000 non-null   float64
 3   SkinThickness             1000 non-null   float64
 4   Insulin                   1000 non-null   float64
 5   BMI                       1000 non-null   float64
 6   DiabetesPedigreeFunction  1000 non-null   float64
 7   Age                       1000 non-null   float64
 8   Diagnosis                 1000 non-null   int64
dtypes: float64(7), int64(2)
memory usage: 70.4 KB
None

Finding the frequency of 2 columns from the Diabetes dataset

In [99]:
pd.crosstab(df['Age'] ,df['Pregnancies'],dropna=True)

Pregnancies  0  1  2  3  4  5  6  8
Age
-0.979804    1  0  0  0  0  0  0  0
-0.633140    0  1  0  0  0  0  0  0
 2.082077    0  0  1  0  0  0  0  0
 3.567449    0  0  1  0  0  0  0  0
 3.868781    0  1  0  0  0  0  0  0
...         .. .. .. .. .. .. .. ..
 80.152148   0  0  1  0  0  0  0  0
 80.527124   0  1  0  0  0  0  0  0
 83.483222   0  0  0  1  0  0  0  0
 87.095072   0  0  1  0  0  0  0  0
 90.573782   0  1  0  0  0  0  0  0

[1000 rows x 8 columns]

# Finding Correlation

In [12]:
# print(df.shape)
df1 = df.select_dtypes(exclude=['float64'])
print(df1)
# Finding the correlation
matrix = df.corr( method='spearman')
print(matrix)

     Pregnancies  Diagnosis
0              2          0
1              2          0
2              1          1
3              2          0
4              1          0
..           ...        ...
995            1          0
996            1          1
997            0          1
998            0          0
999            0          1

[1000 rows x 2 columns]
                          Pregnancies   Glucose  BloodPressure  SkinThickness  \
Pregnancies                  1.000000  0.008758       0.052029      -0.042633
Glucose                      0.008758  1.000000       0.014540       0.006488
BloodPressure                0.052029  0.014540       1.000000      -0.048373
SkinThickness               -0.042633  0.006488      -0.048373       1.000000
Insulin                     -0.026681 -0.018631       0.039232       0.037028
BMI                         -0.016910  0.009946       0.004760       0.069818
DiabetesPedigreeFunction    -0.003154  0.007424       0.002556      -0.072608
Age                          0.070119 -0.017286       0.050493      -0.050624
Diagnosis                    0.004253  0.000579       0.017192      -0.007825

                           Insulin       BMI  DiabetesPedigreeFunction  \
Pregnancies              -0.026681 -0.016910                 -0.003154
Glucose                  -0.018631  0.009946                  0.007424
BloodPressure             0.039232  0.004760                  0.002556
SkinThickness             0.037028  0.069818                 -0.072608
Insulin                   1.000000  0.051671                 -0.022458
BMI                       0.051671  1.000000                 -0.018537
DiabetesPedigreeFunction -0.022458 -0.018537                  1.000000
Age                       0.043956 -0.054440                  0.026695
Diagnosis                 0.031812 -0.025257                  0.060603

                               Age  Diagnosis
Pregnancies               0.070119   0.004253
Glucose                  -0.017286   0.000579
BloodPressure             0.050493   0.017192
SkinThickness            -0.050624  -0.007825
Insulin                   0.043956   0.031812
BMI                      -0.054440  -0.025257
DiabetesPedigreeFunction  0.026695   0.060603
Age                       1.000000  -0.037210
Diagnosis                -0.037210   1.000000